/* Base Body Styles */
body {
  background: #555555;
  color: #212121;
  font-family: "Minecraft", sans-serif;
  margin: 0;
  padding-top: 50px; /* Padding to prevent overlap with fixed navbar */
}

/* Root Container Styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Navbar Styles */
.navbar {
  overflow: hidden;
  background-color: #373737;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar a {
  display: block;
  color: hsl(352 77% 60%);
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
  box-sizing: border-box;
}

.navbar a:hover {
  background: #ddd;
  color: #8b8b8b;
}

/* Main Content Styles */
.main {
  padding: 16px;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: hsl(352 77% 60%);
}

/* Grid System for Products */
.products-container {
  display: grid;
  gap: 20px;
  padding: 20px;
}

/* Product Card Styles */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  height: 100%;
}

.add-to-cart-btn {
  margin-top: auto;
}

/* Media Queries for Responsive Grid Columns */
@media (max-width: 599px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .products-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Additional Media Query Handling */
@media only screen and (max-device-width: 320px) {
  .banner {
    display: none;
    max-width: 1050px;
    width: 100%;
    padding-bottom: 30px;
    z-index: 1000;
  }
}
